body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(122, 82, 233), rgb(162, 193, 223), rgb(93, 118, 242));
  min-height: 100vh;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0;
}

.heading {
  flex: 1;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #2c003e; 
  font-family: 'Poppins', sans-serif;
}

.search-container input[type="text"] {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 40px 20px;
  
}

.card {
  width: 300px;
  height: 50vh;
  background: #dbe6ff; 
  border-radius: 20px;
  padding-top: 60px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 2px black;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-color: #96a3dc;
  color: white;
}
.card:hover table{
  color:white;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
  position: absolute;
  top: -50px;
  background-color: #ffffff;
}

.info {
  text-align: left;
  width: 100%;
  padding: 0 30px;
  margin-top: 20px;
}

table {
  display: flex;
  justify-self: center;
}

th {
  text-align: right;
  /* color: #2f2f2f; */
}

td {
  text-align: left;
  padding: 10px;
  /* color: #333; */
}